[submodule "cpp_robotics"]
	path = cpp_robotics
	url = https://github.com/Kotakku/cpp_robotics.git
[submodule "arcanain_modern_control_tutorial"]
	path = arcanain_modern_control_tutorial
	url = https://github.com/Kotakku/cpp_robotics.git
